.App {
  text-align: left;
  margin: 5rem;
  font-family: '-apple-system';
}

.Main-grid {
  display: grid;
  grid-template-columns: 2fr 6.5fr;
  align-items: start;
}

.Product-grid {
  display: grid;
  margin: 5px;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.Side-container {
  display: grid;
  grid-template-rows: 0.2fr 0.5fr 0.3fr 0.5fr;
}

.Side-bar {
  display: flex;
  flex-direction: column;
  margin: 10px 20px 10px 0px;
  padding: 5px 20px 15px 20px;
  border-radius: 10px;
  background-color: rgb(250, 244, 236);
}

.Top-side-bar {
  display: flex;
  flex-direction: column;
  margin: 5px 20px 10px 0px;
  padding: 15px 20px 15px 20px;
  border-radius: 10px;
  background-color: rgb(99, 26, 26) !important;
  text-align: center;
}

.Team-bar {
  display: flex;
  flex-direction: column;
  margin: 10px 20px 5px 0px;
  padding: 5px 20px 15px 20px;
  border-radius: 10px;
  background-color: rgb(242, 212, 185);
}

.Top-side-bar .nav-link{
  color: white!important;
}

.Top-side-bar a:hover{
  font-weight: 600;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
}

.nav-link{
  font-weight: 600;
  font-family: 'dogica';
  color: rgb(99, 26, 26) !important;
  font-size: 12px;
  text-decoration: none;
}

a:hover {
  color: rgb(99, 26, 26) !important;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
}

a:focus {
  color: rgb(99, 26, 26)!important;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 2px;
}

.nav-item{
  padding: 5px 0 5px 0;
}

.Container {
  position: relative;
}

.Credit {
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 18px;
}

.p, p {
  font-family: "dogica";
  font-size: 10px;
  color: rgb(159, 157, 157);
}

.h2, h2 {
  margin-bottom: 10px;
  margin-top: 15px;
  font-family: "dogica";
  font-size: 10px;
  letter-spacing: 2px;
  font-weight: 900;
  color: rgb(53, 53, 53);
  line-height: 2;
}

.h3, h3 {
  margin-bottom: 10px;
  margin-top: 20px;
  font-family: "dogica";
  font-size: 10px;
  letter-spacing: 3px;
  color: rgb(104, 104, 104);
}

.h4, h4 {
  margin-bottom: 10px;
  margin-top: 20px;
  font-family: "dogica";
  font-size: 12px;
  color: rgb(53, 53, 53);
  line-height: 2;
}

.h1, h1 {
  font-family: "dogica";
  font-size: 35px;
  letter-spacing: 3px;
}

.horizontal-line{
  border-top: 1px solid rgb(99, 26, 26);
}

@font-face {
  font-family: 'dogica';
  src: local('dogica'), url(./dogica/TTF/dogica.ttf) format('truetype');
}
